@charset "utf-8";
@import "~@mdi/font/css/materialdesignicons.css";
@import "~bulma";

.float-right { float: right; }
.float-left { float: left; }


html {
    height: 100%;
    background-color: #f0f0f0;
}

body {
    height: 100%;
    background-color: #f0f0f0;
}

#app {
    height: calc(100% - #{$navbar-height})
}

#app > .columns, #app > .columns > .column {
    height: 100%;
}

.navbar {
    margin-bottom: 1em;
}

.app-header {
    margin-bottom: 1em;
}

.app-menu {
    padding: $box-padding;
    background-color: #fafafa;
    border-right: 1px $grey-lightest solid;
}

.app-body {
    background-color: #fefefe;
}



