{% load i18n %}
<div>
    <span>{% verbatim %}
          {{ (item.owner && item.owner.title) || item.owner_id }}
          {% endverbatim %}</span>
    <div class="icon is-large has-text-info">
        <span v-if="item.isSubscribed" class="mdi mdi-account"></span>
        <span v-else class="mdi mdi-account-question"
             title="{% trans "Awaiting for approval" %}"></span>
    </div>
</div>

